.ipr-de-cat{
  width: 90%;
  margin:10px auto;
  .title{
  	font-size: 15px;
  	line-height: 30px;
  }
  .clear{
  	line-height: 25px;
  	span{
  	  margin-left: 4px;	
  	}
  }
  .content{
  	margin: 10px auto;
  	line-height: 20px;
  }
}