extend mods/body
block title
  title 关于我们
block script
  script(type="text/javascript", src="js/base/jquery-1.11.2.min.js")
  script(type="text/javascript", src="js/base/jquery.superslide.2.1.1.js")
block content
  .ipr-de-cat
    h3.title 【投稿】必看，2015年10大投资陷阱
    p.clear
      span 2015-2-15 12:30
      span 发布者：黄兴
    .content  
      p 2014年6月28日，“上海对外经贸大学协力巨匠律师学院”揭牌仪式在上海对外经贸大学古北校区隆重举行。仪式同时举办了主题为“国际化信息化下的律师实务教育”的学术论坛。
      <br/>
      p 作为全国首家由律师事务所与全日制综合性大学联合办学的律师学院，此次上海对外经贸大学协力巨匠律师学院的成立吸引了众多媒体的关注。
      <br/>
      p 新民网、东方文创网均图文并茂地对学院的成立做了大篇幅的报道，详细介绍了学院的办学特色、教学模式及师资生源等。
      <br/>