extend mods/body
block title
  title 首页
block script
  script(type="text/javascript", src="js/base/jquery-1.11.2.min.js")
  script(type="text/javascript", src="js/base/jquery.superslide.2.1.1.js")
  script(type="text/javascript", src="js/page/index.js")
block content
  .ipr-content-index
    .index-anmation
      ul.pic.left
        li
          a(href="#", target="_blank") 
            img(src="img/0.jpg", alt="")
          h5 恭贺新年
        li
          a(href="#", target="_blank") 
            img(src="img/1.jpg", alt="")
          h5 三阳开泰
        li
          a(href="#", target="_blank") 
            img(src="img/2.jpg", alt="")
          h5 喜洋洋，没洋洋
        li
          a(href="#", target="_blank") 
            img(src="img/3.jpg", alt="")
          h5 啦啦啦啦德玛西亚
      a(class="prev" href="javascript:void(0)")
      a(class="next",href="javascript:void(0)")
      .num: ul
  .ipr-index-mian
    .ipr-index-top
      h3 案例报告
      img(src="img/anli.jpg", alt="案例报告")
      img(src="img/167861214.jpg", alt="案例报告",class="twopic")
      ul
        li.breakfix: a(href="detail.html") 通过网页快照想公众提供作品通过网页快照想公众提
        li.breakfix: a(href="detail.html") 通过网页快照想公众提供作品
        li.breakfix: a(href="detail.html") 通过网页快照想公众提供作品
        li.breakfix: a(href="detail.html") 通过网页快照想公众提供作品
        li.breakfix: a(href="detail.html") 通过网页快照想公众提供作品
    .index-content
      h3 资讯速递
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp; 阅读7000次
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次
       .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次
      .list
        h4: a(href="detail.html") 著作权的合理使用的边界探讨（一）
        dl.left
          dt
            img(src="img/con.jpeg", alt="著作权")
          dd 如何认定适当引用是判断是否构成合理使用的关键。每个人有自己“适当”的标准，笔者将通过针对以下的案例对目前实务中关于“适当”标准进行探究。
          p.last 上海知识产权研究所 &nbsp;&nbsp;&nbsp; 2015-02-11 &nbsp;|&nbsp;阅读7000次