.header{
  padding-top:10px;
  .logo{
    width:80%;
    height: 45px;
    text-align: left;
    margin-left: 4%;
	  color: #00a498;
	  font-family: 'Avenir Next', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-size: 26px;
	  font-weight: bold;
   }
   .search{
   	  width:100%;
   	  text-align:center;
   	  margin:0 auto;
   	  input{
   	  	width:70%;
   	  	padding-left:2%;
   	  	color: #999;
   	  	border:none;
   	  	border-radius:5px;
		background: #efedee;
		line-height: 24px;
   	  }
   	  button{
   	  	width:20%;
        border:none;
        color: #fff;
        line-height: 24px;
        border-radius:5px;
        background:#00a498;
   	  }
   }
}