<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="run" value="debug" />
    <add key="Folder" value="project"/>
    <add key="core" value="754FiLGpxJXMvRPM+J/yrKQnID0iWfPMk0DsuPaKyxCEYgRt/hrNsffz1+UiOpC6wYDdTmOQHjp6dXWz2I5yRvKnv/FB8Fx0Kz7Oo0mSe9RBh5+5f7lc63W2fCEx+Hvz"/>
    <add key="template" value="754FiLGpxJXMvRPM+J/yrKQnID0iWfPM7MIuoXUsW7qVSr7coghhBWsrZ8uPB9gLebCtODGENeqVlSSynzQlLPIxPIh8Sztd0PwLpbzMhKCsvi+Y1u7eaU8QDNGqSLy8" />
    <add key="prefix" value="job_" />
    <add key="index" value="crm/web/index"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="Jabinfo.JabinfoHandle, Jabinfo" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="JabinfoModule" type="Sinbo.I, Jabinfo" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="ErrorHandlerModule" />
      <remove name="RoleManager" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
      <remove name="OutputCache" />
    </httpModules>
    <httpRuntime maxRequestLength="3048" executionTimeout="45" requestValidationMode="2.0" />
    <sessionState mode="Off" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*.aspx" name="Jabinfo" verb="*" type="Jabinfo.JabinfoHandle, Jabinfo" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="JabinfoModule" type="Sinbo.I, Jabinfo" preCondition="integratedMode" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="ErrorHandlerModule" />
      <remove name="RoleManager" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
      <remove name="OutputCache" />
    </modules>
  </system.webServer>
</configuration>